<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daichao.loans.app.dao.AccessLogDao">
	
	<select id="listForPage" resultType="AppAccessLog" flushCache="true">
		SELECT
			`id`, 
			`user_id`, 
			`name`, 
			`method`, 
			`request_url`, 
			`module_name`, 
			`cost_time`, 
			`source`, 
			`ip`, 
			`access_date`, 
			`access_time`, 
			`user_agent`, 
			`params`, 
			`status`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		FROM
			app_access_log
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO app_access_log (
			`id`, 
			`user_id`, 
			`name`, 
			`method`, 
			`request_url`, 
			`module_name`, 
			`cost_time`, 
			`source`, 
			`ip`, 
			`access_date`, 
			`access_time`, 
			`user_agent`, 
			`params`, 
			`status`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		)
		VALUES (
			#{id}, 
			#{userId}, 
			#{name}, 
			#{method}, 
			#{requestUrl}, 
			#{moduleName}, 
			#{costTime}, 
			#{source}, 
			#{ip}, 
			#{accessDate}, 
			#{accessTime}, 
			#{userAgent}, 
			#{params}, 
			#{status}, 
			#{remark}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{del}
		)
	</insert>
	
	<select id="getObjectById" resultType="AppAccessLog">
		SELECT
			`id`, 
			`user_id`, 
			`name`, 
			`method`, 
			`request_url`, 
			`module_name`, 
			`cost_time`, 
			`source`, 
			`ip`, 
			`access_date`, 
			`access_time`, 
			`user_agent`, 
			`params`, 
			`status`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		FROM
			app_access_log
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE app_access_log
	 	<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="method != null">`method` = #{method}, </if>
			<if test="requestUrl != null">`request_url` = #{requestUrl}, </if>
			<if test="moduleName != null">`module_name` = #{moduleName}, </if>
			<if test="costTime != null">`cost_time` = #{costTime}, </if>
			<if test="source != null">`source` = #{source}, </if>
			<if test="ip != null">`ip` = #{ip}, </if>
			<if test="accessDate != null">`access_date` = #{accessDate}, </if>
			<if test="accessTime != null">`access_time` = #{accessTime}, </if>
			<if test="userAgent != null">`user_agent` = #{userAgent}, </if>
			<if test="params != null">`params` = #{params}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="del != null">`del` = #{del}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_access_log
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

</mapper>