<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daichao.loans.app.dao.AppBannerDao">
	
	<select id="listForPage" resultType="AppBanner" flushCache="true">
		SELECT
			`id`, 
			`category_id`, 
			`title`, 
			`image_id`, 
			`image_url`, 
			`image_order`, 
			`href`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		FROM
			app_banner
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO app_banner (
			`id`, 
			`category_id`, 
			`title`, 
			`image_id`, 
			`image_url`, 
			`image_order`, 
			`href`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		)
		VALUES (
			#{id}, 
			#{categoryId}, 
			#{title}, 
			#{imageId}, 
			#{imageUrl}, 
			#{imageOrder}, 
			#{href}, 
			#{remark}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{del}
		)
	</insert>
	
	<select id="getObjectById" resultType="AppBanner">
		SELECT
			`id`, 
			`category_id`, 
			`title`, 
			`image_id`, 
			`image_url`, 
			`image_order`, 
			`href`, 
			`remark`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del`
		FROM
			app_banner
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE app_banner
	 	<set>
			<if test="categoryId != null">`category_id` = #{categoryId}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="imageId != null">`image_id` = #{imageId}, </if>
			<if test="imageUrl != null">`image_url` = #{imageUrl}, </if>
			<if test="imageOrder != null">`image_order` = #{imageOrder}, </if>
			<if test="href != null">`href` = #{href}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="del != null">`del` = #{del}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_banner
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getAppBannerByType" parameterType="string" resultType="AppBanner">
	  SELECT * FROM app_banner
	   WHERE del = 0
	     AND category_id = #{categoryId} 
	     ORDER BY image_id
	</select>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

</mapper>