<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-渠道统计表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<!-- <tr>
	            <td class="formTitle formRequired">渠道id</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="渠道id" v-model="statisticsChannel.channelId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">渠道编码</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="渠道编码" v-model="statisticsChannel.channelCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr> -->
			<tr>
	            <td class="formTitle formRequired">渠道名称</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="渠道名称" v-model="statisticsChannel.channelName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">统计日期</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="统计日期YYYYMMDD" v-model="statisticsChannel.statDate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">点击次数</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="点击次数" v-model="statisticsChannel.channelPv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">真实注册数</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="真实注册数" v-model="statisticsChannel.realRegNumber" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<!-- <tr>
	            <td class="formTitle formRequired">折扣比例</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="折扣比例" v-model="statisticsChannel.discount" isvalid="yes" checkexpession="NotNull" >
	            </td>
        	</tr> -->
			<tr>
	            <td class="formTitle formRequired">注册数</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="注册显示数" v-model="statisticsChannel.regBase" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<!-- <tr>
	            <td class="formTitle formRequired">状态(0-初始，1-正常)</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="状态(0-初始，1-正常)" v-model="statisticsChannel.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr> -->
			<!-- <tr>
	            <td class="formTitle formRequired">备注信息</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注信息" v-model="statisticsChannel.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">创建者</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建者" v-model="statisticsChannel.createBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">创建时间</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="statisticsChannel.createTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">最后修改者</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="最后修改者" v-model="statisticsChannel.updateBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">最后修改时间</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="最后修改时间" v-model="statisticsChannel.updateTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">删除标记：0-正常，1-已经删除</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="删除标记：0-正常，1-已经删除" v-model="statisticsChannel.del" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr> -->
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/js/statistics/channel/add.js}"></script>
</body>
</html>