<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('编辑-留言反馈')"></head>
</head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle formRequired">用户id</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户id" v-model="basicComment.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">标题</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="标题" v-model="basicComment.title" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">详情</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="详情" v-model="basicComment.detail" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">应用ID</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="应用ID" v-model="basicComment.appid" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/js/basic/comment/edit.js}"></script>
</body>
</html>