package ${package}.${module}.dao;

import org.mybatis.spring.annotation.MapperScan;

import com.daichao.common.base.BaseMapper;
import ${package}.${module}.entity.${className}Entity;

/**
 * ${comments}
 * @author ${author}<${email}>
 */
@MapperScan
public interface ${className}Dao extends BaseMapper<${className}Entity> {
	
}
